{% extends 'app/base.html' %}

{% load static %}

{% block breadcrumbs %}
	<ol class="breadcrumb">
	  	<li><a href="{% url 'app:index' %}">Página Inicial</a></li>
	  	<li class="active">Gerenciar Usuários</li>
	</ol>
{% endblock %}

{% block sidebar %}
	<div class="list-group">
	  	<a href="{% url 'app:users:manage' %}" class="list-group-item active">
	    	Usuários do Sistema
	  	</a>
	  	<a href="{% url 'app:users:create' %}" class="list-group-item">
	    	Nova Conta
	  	</a>
	  	<a href="{% url 'app:send_mail' %}" class="list-group-item">
	    	Enviar Email
	  	</a>
	</div>
{% endblock %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p>{{ message }}</p>
			</div>
		{% endfor %}
	{% endif %}

	<ul class="list-group">
		{% if users|length > 0 %}
			{% for user in users %}
				<li class="list-group-item">
					<div class="media">
						<div class="col-sm-3">
							<img class="media-object img-responsive" src="{{ user.image.url }}" alt="Image">
						</div>
						<div class="col-sm-6">
							<div class="media-body">
								<h4 class="media-heading">{{ user }}</h4>
								<p><small>{{ user.email }}</small></p>
							</div>
						</div>
						<div class="col-sm-3" style="padding-top: 10px">
							{% if user.type_profile %}
	        					<span class="label label-info">{{ user.get_type_profile_display }}</span>
	        				{% else %}
	        					<span class="label label-info">Administrador</span>
	        				{% endif %}
	        				<br />
	        				<a href="{% url 'app:users:view' user.username %}" class="btn btn-sm btn-info" style="margin-top: 10px">
								<span class="glyphicon glyphicon-eye-open"></span>
							</a>
		        			<a href="{% url 'app:users:update' user.username %}" class="btn btn-sm btn-primary" style="margin-top: 10px">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
							<a href="" class="btn btn-sm btn-danger" style="margin-top: 10px">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
		        		</div>
					</div>
	    		</li>
			{% endfor %}
		{% else %}
			<li class="list-group-item">
				<p>Nenhum usuário cadastrado até o momento</p>
			</li>
		{% endif %}
	</ul>
{% endblock %}