{% extends 'app/base.html' %}

{% load static %}

{% block breadcrumbs %}
	<ol class="breadcrumb">
	  	<li><a href="{% url 'app:index' %}">Página Inicial</a></li>
	  	<li><a href="{% url 'app:course:view' course.slug %}">{{ course }}</a></li>
	  	<li class="active">Gerenciar Módulos</li>
	</ol>
{% endblock %}

{% block sidebar %}
	<div class="list-group">
	  	<a href="{% url 'app:course:manage' %}" class="list-group-item">
	    	Cursos
	  	</a>
	  	<a href="{% url 'app:course:create' %}" class="list-group-item">
	    	Criar Curso
	  	</a>
	</div>

{% endblock %}

{% block content %}
	<form action="" method="post">
		{% csrf_token %}
	    <p>Tem certeza que deseja deletar o curso "{{ object }}"?</p>
	    <input type="submit" class="btn btn-success btn-sm" value="Sim" />
	    <a href="{% url 'app:course:manage' %}" class="btn btn-danger btn-sm">Não</a>
	</form>
{% endblock %}